    /* Стили для категорий */
    .categories {
        float: left;
        margin-right: 20px;
    }

    .categories li {
        list-style: none;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .categories li.selected {
        color: red; /* Цвет для выбранной категории */
    }

    /* Стили для корзины */
    .cart {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .cart a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }

    /* Стили для карточек продуктов */
    .products {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        flex-basis: 250px;
        flex-grow: 1; /* Растягивает карточку, чтобы занять всю доступную ширину */
        margin: 10px;
        padding: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        transition: box-shadow 0.3s;
        overflow: hidden; /* Обрезает изображение внутри карточки */
    }

    .card img {
        width: 100%; /* Задает максимальную ширину изображения внутри карточки */
        height: 150px; /* Фиксированная высота карточки */
        object-fit: cover; /* Масштабирует изображение, сохраняя его пропорции */
    }

    .card:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

.old-price{
    text-decoration:line-through;
}

  /* Стили для детального просмотра товара */
  .plant-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .plant-detail img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  .image-gallery {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .image-gallery .slider-image {
    width: 80px;
    height: 60px;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid #ccc;
  }

  .image-slider {
    max-width: 500px;
    max-height: 400px;
    overflow: hidden;
  }

  .image-slider img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }



    .pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination .current-page {
  margin: 0 5px;
  padding: 5px 10px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 4px;
}