{% extends 'main/base.html' %}

{% block flower %}
<style>
  /* Стили для формы заказа */
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .form-field {
    margin-bottom: 20px;
  }

  .form-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-field input[type="text"],
  .form-field input[type="email"],
  .form-field input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-field button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
</style>

<form method="POST">
  {% csrf_token %}

  <div class="form-field">
    <label for="id_first_name">Имя:</label>
    {{ form.first_name }}
  </div>

  <div class="form-field">
    <label for="id_last_name">Фамилия:</label>
    {{ form.last_name }}
  </div>

  <div class="form-field">
    <label for="id_email">Почта:</label>
    {{ form.email }}
  </div>

  <div class="form-field">
    <label for="id_address">Точный адрес:</label>
    {{ form.address }}
  </div>

  <div class="form-field">
    <label for="id_city">Город:</label>
    {{ form.city }}
  </div>

  <div class="form-field">
    <label for="id_telegram_name">Имя телеграм:</label>
    {{ form.telegram_name }}
  </div>

  <div class="form-field">
    <label for="id_phone_number">Номер телефона:</label>
    {{ form.phone_number }}
  </div>

  <button type="submit">Оформить заказ</button>
</form>
{% endblock %}
